---
import Card from '#/components/Card.astro';
import Layout from '#/layouts/Layout.astro';
---
<Layout title="Martynas Barzda / Contacts" description="Keep in touch">
  <Card style="margin-top: var(--size-8)">
    <h1 style="font-size: var(--font-size-fluid-2);">Keep in touch</h1>
    <p>
      Email:
      <a class="email" href="mailto:martynas@barzda.pro">
        martynas@barzda.pro
      </a></p>
      <p>
        Mobile:
        <a class="tel" href="tel:+37067350413">
          +370 673 50413
        </a>
      </p>
      <p>LinkedIn:
        <a href="//www.linkedin.com/in/mbarzda" target="_blank" rel="noreferrer">
          /in/mbarzda
        </a>
      </p>
  </Card>
</Layout>
