.container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 1em;
    padding-right: 1em;
    width: 35.5em;
}

@media screen and (min-width: 48em) {
    .container {
        width: 48em;
    }
}
