---
import Navigation from '#/components/Navigation.astro';

const canonicalURL = new URL(Astro.url.pathname, Astro.site);

type Props = {
  description: string;
  title: string;
};

const { description, title } = Astro.props;
---
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{title}</title>
  <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
  <link rel="canonical" href={canonicalURL} />
  <meta name="title" content={title} />
  <meta name="description" content={description} />
  <link rel="sitemap" href="/sitemap-index.xml" />

  <style is:global>
    @import "open-props/postcss/style";
    @import "open-props/postcss/normalize";

    :root {
      background: var(--gradient-4);
    }

    body {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;
    }

    a {
      color: var(--green-12);
      text-decoration: underline;

      &:hover {
        color: var(--cyan-5);
        transition: color .4s var(--ease-3);
      }

      &:focus-visible {
        outline-color: var(--yellow-5);
      }
    }
  </style>
</head>
<body>
  <Navigation/>
  <slot/>
</body>
</html>
